Library/researches
**/*.ipynb_checkpoints/*
*.zip
*.pdf
*.mp3
"cs25 - Transformers United/checkpoints"
"cs100 - Information Security"
"cs105 - Introduction to Computers"
"cs106l - Standard C++ Programming"
"cs106 - Programming Methodologies"
"cs221 - Artificial Intelligence"
"cs223a - Introduction to Robotics"
"cs224n - Natural Language Processing"
"cs224u - Natural Language Understanding"
"cs224w - Machine Learning with Graphs"
"cs228 - Probabilistic Graphical Models"
"cs229 - Machine Learning"
"cs229m - Statistical Learning Theory"
"cs231n - Convolutional Neural Networks"
"cs234 - Reinforcement Learning"
"cs237a - Principles of Robotic Autonomy"
"cs238 - Decision Making Under Uncertainty"
"cs251 - Cryptocurrencies and Blockchain Technologies"
"cs25 - Transformers United"
"cs327a - Advanced Robotic Manipulation TESLA"
"cs330 - Multi-Task and Meta-Learning"
"cs372 - Artificial Intelligence for Disease Diagnosis"
"cs41 - Python"
"cs521 - AI Safety Seminar"
"cs522 - Artificial Intelligence in Healthcare"
"Digital Economy Lab"
"ee100 - Introduction to Internet of Things"
hai
me
nvidia
think_smart
django
English
resume
.tensorflow_datasets
.Pictures
.vscode-oss
.Trash-1000
+
